%nav
  .nav-wrapper
    %a.brand-logo.center{:href => "#"} Logo
    %ul#nav-mobile.right.hide-on-med-and-down
      = render 'layouts/links'
    %a.button-collapse{"data-activates" => "slide-out", :title => "Menu", :href => "#"}
      %i.material-icons menu
